CONTENTFUL_SPACE_ID=t14u7man7wab
CONTENTFUL_ACCESS_TOKEN=PqUleu7xcULz4DCT2aj5IiLqafPAirnQSKprQ6x240w
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_CONTENT_TYPE=
CONTENTFUL_HOME_PAGE_CONTENT_TYPE=homePage
CONTENTFUL_FOOTER_CONTENT_TYPE=footer
CONTENTFUL_HEADER_CONTENT_TYPE=header
CONTENTFUL_ABOUT_CONTENT_TYPE=about
CONTENTFUL_OVERVIEW_CONTENT_TYPE=overview
CONTENTFUL_ACCOMMODATION_CONTENT_TYPE=accommodation
CONTENTFUL_GALLERY_CONTENT_TYPE=gallery
CONTENTFUL_LOCATION_CONTENT_TYPE=location
CONTENTFUL_EVENT_CONTENT_TYPE=event
CONTENTFUL_STAY_CONTENT_TYPE=stay
